<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">
            This is a simple website called VIDJOT ,Hehlp to keep track add and edit ideas for videos on your youtube channel or udemy account.</p>
        <hr class="my-4">
        
        <a class="btn  btn-lg" href="/ideas/add" role="button"> GET STARTED</a>
    </div>
</div>