<div class="jumbotron text-center mt-5 ">
    <h1 class="display-3">
    test test tes 
    </h1>
    <p class="lead">
        hey hey hey 
    </p>
    <a href="/ideas/add" class="btn btn-lg">Add a Video</a>
</div>